.toast {
  margin-bottom: 10px;
  padding: 4px 8px;
  width: fit-content;
  display: none;
}

.error {
  background-color: rgb(216, 112, 112);
  color: beige;
  display: block;
  margin: auto;
}

.message {
  background-color: rgb(97, 224, 133);
  color: black;
  display: block;
}

body {
  background-image: url("..\\images\\background.jpg");
  background-size: cover;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: fit-content;
  border: 2px solid rgba(75, 74, 74, 0.75);
  border-radius: 16px;
  margin: 5rem auto 1rem;
  background-color: rgba(54, 54, 54, 0.25);
  backdrop-filter: blur(8px);
}

.container {
  margin-top: 50px;
  display: flex;
  gap: 2.25rem;
  box-sizing: border-box;
  align-items: center;
  margin: 1rem auto;
  padding: 2rem;
}

.buttons {
  width: fit-content;
  margin: 1rem auto;
}

.buttons > * {
  border: none;
  background-color: transparent;
  margin: 1rem 0.75rem;
  color: white;
}
.buttons button:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.controls input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 15rem;
  height: 32px;
}

.hour,
.minute,
.second {
  display: flex;
}
